root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.gd]
indent_style = tab
indent_size = 4

[*.{tscn,tres,godot,import,cfg}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false

[*.{md,json,yml,yaml,csv}]
indent_style = space
indent_size = 2

[*.{bat,ps1}]
end_of_line = crlf
